@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #31a3a3;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  padding: 5px 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

/* absolute top-7 right-3 */
.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.top-7 {
  top: 28px;
}

.right-3 {
  right: 12px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}


.hidden {
  display: none;
}

.block {
  display: block;
}

.z-10 {
  z-index: 1;
}

.z-20 {
  z-index: 2;
}

.z-30 {
  z-index: 3;
}

.z-40 {
  z-index: 4;
}

.z-50 {
  z-index: 5;
}

.pt-18 {
  padding-top: 68px;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */